<html layout:decorator="/common/layout/blog_layout">
<div class="page-wrapper" layout:fragment="content">
	<div class="page-intro">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
						<li class="active">Blog</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<section class="main-container">

		<div class="container">
			<div class="row">
				<div class="main col-md-12">
					<h1 class="page-title">Blog</h1>
					<div class="separator-2"></div>
					<article th:each="prod : ${result.rows}"
						class="clearfix blogpost object-non-visible"
						data-animation-effect="fadeInUpSmall" data-effect-delay="200">
						<!-- 
						<div class="overlay-container">
							<img src="/s/images/blog-1.jpg" alt="">
							<div class="overlay">
								<div class="overlay-links">
									<a href="blog-post.html"><i class="fa fa-link"></i></a> <a
										href="/s/images/blog-1.jpg" class="popup-img-single"
										title="image title"><i class="fa fa-search-plus"></i></a>
								</div>
							</div>
						</div>
						 -->
						<div class="blogpost-body">
							<div class="post-info">
								<span class="day">12</span> <span class="month">Sept 2014</span>
							</div>
							<div class="blogpost-content">
								<header>
									<h2 class="title">
										<a th:text="${prod.title}"
											th:href="@{/blog/open/post/{cid}(cid=${prod.cid})}"></a>
									</h2>
									<div class="submitted">
										<i class="fa fa-user pr-5"></i> by <a href="#"
											th:text="${prod.author}"></a>
									</div>
								</header>
								<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit
									eget lorem. Nunc interdum mi neque, et sollicitudin purus
									fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros
									pharetra in. Maecenas ullamcorper commodo rutrum. In iaculis
									lectus vel augue eleifend dignissim. Aenean viverra semper
									sollicitudin.</p>
							</div>
						</div>
						<footer class="clearfix">
							<ul class="links pull-left">
								<li><i class="fa fa-comment-o pr-5"></i> <a href="#">22
										comments</a> |</li>
								<li><i class="fa fa-tags pr-5"></i> <a href="#">tag 1</a>,
									<a href="#">tag 2</a>, <a href="#">long tag 3</a></li>
							</ul>
							<a class="pull-right link" href="blog-post.html"><span>Read
									more</span></a>
						</footer>
					</article>
					<ul class="pagination">
						<li><a href="#"><<</a></li>
						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">>></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</div>
</html>