<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">

<link
	href='http://fonts.googleapis.com/css?family=Hind:400,500,300,600,700'
	rel='stylesheet' type='text/css'>
<link href="/h/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css" />
<link href="/h/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css" />
<link href="/h/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />

<link href="/h/plugins/owl.carousel/assets/owl.carousel.css"
	rel="stylesheet">
<link
	href="/h/plugins/slider-revolution-slider/rs-plugin/css/settings.css"
	rel="stylesheet">
<link
	href="/h/plugins/cubeportfolio/cubeportfolio/css/cubeportfolio.min.css"
	rel="stylesheet">
<link href="/h/css/onepage2/css/layout.css" rel="stylesheet"
	type="text/css" />
<link rel="shortcut icon" href="/h/favicon.ico" />

<script src="/h/js/jquery.min.js" type="text/javascript"></script>
<script src="/h/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script src="/h/plugins/bootstrap/js/bootstrap.min.js"
	type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/h/plugins/jquery.easing.js" type="text/javascript"></script>
<script src="/h/plugins/jquery.parallax.js" type="text/javascript"></script>
<script src="/h/plugins/smooth-scroll/smooth-scroll.js"
	type="text/javascript"></script>
<script src="/h/plugins/owl.carousel/owl.carousel.min.js"
	type="text/javascript"></script>
<!-- BEGIN Cubeportfolio -->
<script
	src="/h/plugins/cubeportfolio/cubeportfolio/js/jquery.cubeportfolio.min.js"
	type="text/javascript"></script>
<script src="/h/plugins/onepage2/scripts/portfolio.js"
	type="text/javascript"></script>
<!-- END Cubeportfolio -->
<!-- BEGIN RevolutionSlider -->
<script
	src="/h/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
	type="text/javascript"></script>
<script
	src="/h/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js"
	type="text/javascript"></script>
<script src="/h/plugins/onepage2/scripts/revo-ini.js"
	type="text/javascript"></script>
<!-- END RevolutionSlider -->
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/h/plugins/onepage2/scripts/layout.js"
	type="text/javascript"></script>

<body class="front">
	<div class="scrollToTop">
		<i class="icon-up-open-big"></i>
	</div>
	<div layout:fragment="content"></div>
</body>
</html>