<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdong.dal.idol.XdIdolDoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xdong.model.entity.idol.XdIdolDo">
        <id column="id" property="id" />
        <result column="c_time" property="cTime" />
        <result column="c_user" property="cUser" />
        <result column="m_time" property="mTime" />
        <result column="m_user" property="mUser" />
        <result column="idol_name" property="idolName" />
        <result column="sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="company" property="company" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, c_time AS cTime, c_user AS cUser, m_time AS mTime, m_user AS mUser, idol_name AS idolName, sex, birthday, company
    </sql>

</mapper>
